<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="cc" class="com.spring.Implementation.Creditcard"></bean>
	<bean id="dc" class="com.spring.Implementation.Debitcard"></bean>
	<bean id="upi" class="com.spring.Implementation.UPI"></bean>
	<bean id="billcollector" class="com.spring.service.BillService"></bean>


</beans>